[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "agentr"]
	path = agentr
	url = https://github.com/oliverlds/agentr
[submodule "binxr"]
	path = binxr
	url = https://github.com/oliverlds/binxr
[submodule "inferencer"]
	path = inferencer
	url = https://github.com/oliverlds/inferencer
[submodule "okxr"]
	path = okxr
	url = https://github.com/oliverlds/okxr
